<div class="main">
    <div class="today">
        <img id="img" src="{{condition.icon}}" alt="{{condition.text}}">
        <h2 style="margin-left:0.3vw;" >Температура {{temp_c}}°C</h2>
        <h2>|</h2>
        <h2>{{condition.text}}</h2>
        <h2>|</h2>
        <h2 class="city">Kiev</h2>
    </div>
    <div class="forecast">
        <div class="forecast-day" id="forecast-today">

        </div>
        <div class="forecast-day" id="tomorrow">

        </div>
        <div class="forecast-day" id="day-after-tomorrow">

        </div>
    </div>
    

</div>